<!DOCTYPE html>
<html>
<head>
  <title>ProductRater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3><%= flash[:notice] %></h3>
<% if signed_in? %>
  <h3>Current user: <%= current_user.name %></h3>
  <p><%= current_user.last_signed_in_at%><p>
  <%= link_to 'Sign out', sign_out_path, method: :delete %>
  <% if admin? %>
    <%= link_to 'Users', users_path%>
  <% end %>
<% else %>
  <p>Please sign in <%= link_to 'Sign in', new_page_session_path %></p>
<% end %>
<br><br>

<%= yield %>

</body>
</html>
