<!DOCTYPE html>
<html>
<head>
  <title>ProductRater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3><%= flash[:notice] %></h3>


<%= yield %>

<% if signed_in? %>
  <h3>Current user: <%= current_user.name %></h3>
  <p><%= current_user.last_signed_in_at%><p>
  <%= link_to 'Sign out', sign_out_path, method: :delete %>
  <% if current_user.admin == true %> 
		<% all_users.each do |user| %>
			<h4><%= user.name %><br></h4>
			<p>Email: <%= user.email %><p>
			<% if user.admin? %>
			  <p> An admin <p>
			<% end %>
			<% if (current_user.id != user.id) %>
				<%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
			<% end %>
		<% end %>
	<% end %>
  <h4>Posts</h4>
  <%= render 'posts/form', post: current_user.posts.new %>
<% else %>
  <% if request.fullpath != "/users/new" %>
	<% if request.fullpath != "/page_sessions/new" %>
	<p>Join us <%= link_to 'Sign up', new_user_path %></p>
	<br>
	<p>Sign in <%= link_to 'Sign in', new_page_session_path %></p>
	<% end %>
  <% end %>
<% end %>

</body>
</html>
